main {
  margin: 0;
  padding: 5px 5% 5px 5%;
  background: linear-gradient(#FFFFFF, #BFBFBF);
}
body {
  /* background: #395645; */
  margin: 0;
}
#grad {
  background: white;
}

h2 {
  color: black;
  font-family: Georgia, sans-serif;
  font-size: 20px;
}
img {
  margin: 10px;
  border: 3px solid gray;
  border-radius: 20px;
}
#profile {
  height: 200px;
}
p {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 20% 5px 20%;
  background: #9F9F9F;
  overflow: hidden;
}
li {
  display: inline;
  padding: 0px 2px 0px 2px;
  color: white;
}
.section {
  padding: 50px 0px 10px 0px;
  text-align: center;
}
.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.intro-text {
  margin: auto;
}
footer {
  /* text-align: center; */
  font-size: 15px;
  background: #9F9F9F;
}
